@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #1f1f1f;
    background: linear-gradient(to right, #222222 0%, #000000 30%, #222222 100%);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.logo{
    width: 35%;
    display: flex;
    justify-content: center;
}

.logo img{
    width: 20%;
    border: 1px solid wheat;
    border-radius: 40%;
}

.nav-list{
    width: 60%;
    display: flex;
    align-items: center;
    /*background-color: #1f1f1f;*/
}

.nav-list li{
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a{
    text-decoration: none;
    color: violet;
    font-size: 18px;
    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-style: normal;
    transition: 0.2s ease;
}

.nav-list li a:hover{
    text-decoration: none;
    color: white;
}

.rightNav{ 
    width: 40%;
    text-align: right;
    /*background-color: #1f1f1f;*/
    padding: 0 23px;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}

.background{
    background: rgba(0, 0, 0, 0.7) url(../img/bg.jpg);
    background-size: cover;
    background-blend-mode: darken;
}

.box-main{
    display: flex;
    justify-content: center;
    align-content: center;
    color: lightgray;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    max-width: 50%;
    height: 80%;
}

.firstsection{
    height: 100vh;
}

.firsthalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondhalf{
    width: 30%;
    display: flex;

}

.secondhalf img{
    width: 70%;
    /*padding: 2px;*/
    border: 4px lightslategray;
    border-radius: 75px;
    display: block;
    margin: auto;
}

.text-big{
    font-size: 35px;
    color: antiquewhite;
}

.text-small{
    font-size: 18px;
    color: antiquewhite;
}

.btn{
    padding: 8px 20px;
    margin: 8px 3px;
    border: 2px solid lightgrey;
    border-radius: 8px;
    font-size: 14px;
    background: none;
    color: lightgray;
    cursor: pointer;
}

.btn-sm{
    padding: 5px 10px;
    vertical-align: middle;
}

.section{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-style: normal;
    /*background-color: #141414;*/
}

.secleft{
    height: 400px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
}

.paras{
    padding: 0 65px;
}

.sectionTag{
    padding: 14px 0;
}

.sectionSubtag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.thumbnail img{
    width: 85%;
    border: 1px solid lightslategray;
    margin-top: 19px;
    border-radius: 25px;
}

.contact{
    background-color: #1f1f1f;
    height: 100vh;
    color: antiquewhite;
}

.text-center{
    text-align: center;
    padding: 15px;
    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
}

.form{
    max-width: 62%;
    margin: 10px auto;
}

.form-input{
    margin: 16px 0;
    padding: 5px 2px;
    width:100%;
    font-size: 15px;
    border: 1px solid lightslategray;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-footer{
    text-align: center;
    padding: 15px;
    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: antiquewhite;
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 4%;
    top: 15px;
}

.line{
    width: 33px;
    background-color: antiquewhite;
    height: 4px;
    margin: 5px 3px;
}

@media only screen and (max-width: 1150px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        height: 450px;
        flex-direction: column;
        transition: all 0.5s ease-out;
    }
    .rightNav{
        text-align: center;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .firsthalf{
        margin-inline: auto;
    }
    .secondhalf{
        margin-inline: auto;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .ht-nav-resp{
        height: 65px;
    }
    .v-nav-resp{
        opacity: 0;
    }
    .section{
        height: auto;
        flex-direction: column-reverse;
        padding: 10px;
    }
    .text-big{
        text-align: center;
    }
    .text-small{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
    .paras{
        padding: 0px;
    }
    .thumbnail{
        margin-inline: auto;
    }
}